//commons
.bg-fondo{
    background-color: $mainColor;
}

p{
    color: $pColor;
    font-family: $mainFont;
    font-weight: $textWeight;
    font-size: $fontsizeP;
    line-height: $lineheightMd;
}

.img-heroe{
    width: $widthXl;
    height: $heightHeroe;
    object-fit: $objectCover;
}

.padding{
    padding-top: 50px;
    padding-bottom: 50px;
}

.order1{
    order: $orderUno;
}

.order2{
    order: $orderDos;
}

.order3{
    order: $orderTres;
}

.text-center{
    text-align: $textCenter;
}

.text-left{
    text-align: $textLeft;
}

.text-right{
    text-align: $textRight;
}

//footer
footer{
    display: $displayFlex;
    padding: 30px 30px;
    background-color: $footerColor;
    width: $widthXl;
    justify-content: space-around;
    a{
        text-decoration: $decorationNone;
    }
    p{
        color: $textColor;
        font-size: $textExtrasm;
    }
}

h1,
h2,
h3{
    color: $hColor;
    font-family: $mainFont;
    font-weight: $textBold;
}

h1{
    font-size: $fontsizeXl;
}

h2{
    font-size: $fontsizeH2;
}

h3{
    font-size: $fontsizeL;
}