.contenedor-flex{
    display: $displayFlex;
    justify-content: $justifyCenter;
    align-items: $alignCenter;
}

.contenedor-texto{
    width: $widthL;
    height: $heightL;
    background-color: $contenedorColor;
    margin: 20px 50px;
    padding: 30px;
}

.contenedor{
    width: $widthXl;
    justify-content: $justifyCenter;
    margin: 20px auto;
    padding: 20px auto;
}

.actividades-index{
    display: $displayFlex;
    padding: 0 50px;
    
    figure{
        display: $displayFlex;
        margin: 0 1rem;
        flex-direction: $flexColumn;
        align-items: $alignCenter;

        p{
            width: $widthXl;
            font-size: $fontsizeSm;
            margin: 20px 0;
            height: 180px;
            overflow: hidden;
            text-align: $textCenter;
            color: $figureColor;
        }
        
        buton{
            border: solid;
            background-color: $secondaryColor;
            color: $textColor;
            border-radius: 8px;
            padding: 8px;
            margin-bottom: 16px;
            float: right;
        }
    }
}

.card-contenedor{
    display: $displayFlex;
    flex-direction: $flexColumn;
    align-items: $alignCenter;
    width: $widthXl;
    margin: 0 40px;
}

.img-index{
    max-width: $maxWidth;
}