//media querie card
@media (min-width: 768px){
    .col-md-6 .col-lg-3 .card:hover{
        transform: scale(1.1);
    }
}

/*media queries section contacto*/
@media only screen and (max-width: 768px){
    .flex {
        flex-direction: $flexColumn;
    }
}

/*media queries grid*/
@media (max-width: 768px){
    #indice{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (4, 1fr);
        grid-template-areas:
        "img2 img1"
        "img2 text1"
        "img3 img4"
        "text2 img5";
        justify-items: $justifyCenter;
        align-items: $alignCenter;
    }
}

@media only screen and (max-width: 600px){
    #indice{
        grid-template-columns: 1fr;
        grid-template-rows: (8, 1fr);
        grid-template-areas:
        "img1"
        "img2"
        "img2"
        "text1"
        "img3"
        "img4"
        "text2"
        "img5";
        padding: 20px;
    }
}

/*media queries carousel*/
@media (max-width:768px){
    .contenedor-carousel {
        width: 400px;
        height: 200px;
    }

    .carousel-image{
        width: 400px;
        height: 200px;
    }
}

@media (max-width:480px){
    .contenedor-carousel {
        width: 250px;
        height: 100px;
    }

    .carousel-image{
        width: 250px;
        height: 100px;
    }
}

/*media queries card*/
@media only screen and (max-width: 768px) {
    .card-contenedor{
        flex-basis: $flexbasisXl;
    }
}

@media only screen and (max-width: 768px){
    .actividades-index{
        flex-direction: $flexColumn;
        justify-items: $justifyCenter;
        align-items: $alignCenter;
    }
}

/*media queries mapa*/
@media (max-width: 767px){
    .mapa{
        width: 90%;
        height: 400px;
    }
}

@media (min-width: 768px){
    .mapa{
        width: 90%;
        height: 500px;
    }
}

/*media queries section actividades*/
@media screen and (max-width: 768px){
    .contenedor-actv{
        display: $displayFlex;
        width: 90%;
        margin: 0 auto;
        justify-content: $justifyCenter;
        align-items: $alignCenter;
    }   

        .image{
            flex-basis: $flexbasisXl;
            max-width: $maxWidth;
            order: $orderUno;
        }

        .div-parrafo{
            flex-basis: $flexbasisXl;
            max-width: $maxWidth;
            font-size: $fontsizeMd;
            order: $orderDos;
            text-align: $alignCenter;
        }
}

/*media queries header*/
@media only screen and (max-width: 767px){
    .header{
        height: auto;
    }

        .header p{
            font-size: $fontsizeExtrasm;
        }
}

/*media queries textos*/
@media only screen and (max-width: 767px){
    .p{
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 767px){
    .h1{
        font-size: $fontsizeL;
    }
}

/*media queries nav*/
@media only screen and (max-width: 768px) {
    .botonera img {
        width: 40%;
    }
}

/*media queries error404*/
@media screen and (max-width:1200px){
    h1{
        font-size: 30px;
        text-align: $alignCenter;
    }
}

@media (max-width:320px){
    h1{
        font-size: 25px;
        text-align: $alignCenter;
    }
}

/*media queries footer*/
@media (max-width: 600px){
    footer{
        padding: 10px 20px;
        justify-content: $justifyCenter;
        flex-direction: $flexColumn;
        align-items: $alignCenter;
    }
}