//nav
.botonera{
    background-color: $botoneraColor;
    img{
        width: 30%;
        height: 30%;
    }
    ul{
        li{
            a{
                color: $textColor;
                text-decoration: $decorationNone;
                font-size: $fontsizeSm;
                font-weight: $textWeight;
                font-family: $mainFont;
                &:hover{
                    color: $hoverColor;
                    text-decoration: $decorationUnderline;
                }
            }
        }
    }
}

.navbar-brand{
    width: 60%;
}