//variables globales

//colores
$mainColor: rgb(245, 244, 233);
$secondaryColor: white;
$botoneraColor: rgba(255, 255, 255, 0.4);
$textColor: black;
$hColor: rgb(128, 75, 75);
$pColor: rgb(117, 91, 91);
$hoverColor: blue;
$figureColor: rgb(69, 66, 66);
$footerColor: rgb(220, 220, 170);

//fonts
$mainFont:'Lato', sans-serif;
$textExtrasm: 1.2em;
$textSm: 2em;
$textMd: 2.5em;
$textLg: 3em;
$textBold: 700;
$textWeight: 300;

